.circle {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 100px;
	background-color: #dfdfdf;
	margin: 0 auto;
}

.green {
	background-color: #4ec174;
}

.strike {
	text-decoration: line-through;
}

span {
	display: inline-block;
	float: right;
	width: 85%;
}

.container {
	display: flex;
}

.center-div {
	float: left;
	display: inline-block;
	width: 10%;
}