.pixel-stack {
	position: absolute;
	z-index: -100;
	width: 100vw;
	height: 100vh;
	top: 0%;
	transform: rotate(180deg);
}

.pixel {
	width: 5vw;
	height: 5vw;
	background: #16A085;
	display: inline-block;
	border: 1px solid white;
	float: right;
	border-radius: 6px;
}

ion-slides {
	height: 100vh;
	width: 100vw;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

h4 {
	font-size: .8em;
}

.container {
	width: 250px;
	letter-spacing: 1px;
	padding: 5vw 5vw;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.center-div {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.task {
	margin: 25px auto;
}

.tasks {
	padding: 15px 25px;
}

.swiper-slide {
	text-align: left !important;
	display: inline-block !important;
	align-items: initial !important;
	justify-content: left !important;
}

.redo {
	width: 20%;
	margin: 25px auto;
}

.circle {
	position: absolute;
	left: 50%;
	top: 85%;
	transform: translate(-50%, -50%);
	background: #16A085;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F4D03F, #16A085);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F4D03F, #16A085); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 1px;
	width: 1px;
	border-radius: 100%;
	filter: blur(50px);
	z-index: -100;
}

@media only (max-width: 450px) {
  .container {
  	width: 90vw;
  	padding: 5vw 5vw;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
  }
}