h1 {
	font-size: 2em;
	font-weight: bold;
}

h4 {
	font-size: .8em;
}

.container {
	width: 250px;
	letter-spacing: 1px;
}

.center-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.task {
	margin: 25px auto;
}

.tasks {
	padding: 15px 25px;
}

.swiper-slide {
	text-align: left !important;
	display: inline-block !important;
	align-items: initial !important;
	justify-content: left !important;
}

.redo {
	width: 20%;
	margin: 25px auto;
}

@media only (max-width: 450px) {
  .container {
  	width: 90vw;
  }
}