// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

html {
	font-family: 'Montserrat', sans-serif !important;
}

app-menu {
	position: relative;
	z-index: 1000;
}

.dark-mode {
	color: white;
	background: linear-gradient(to bottom right, #352f34, #292f34);
}

.dark-mode-2 {
	color: white;
	background: #352f34;
}

.dark-mode-1 {
	color: white;
	background: #292f34;
}

.dark-mode-container {
	color: white;
    background-color: rgba(11, 11, 11, 0.8);
}

.light-mode {
	color: black;
	background: linear-gradient(to bottom right, #FFFCF7, #fff );
}

.light-mode-1 {
	color: black;
	background: #fff;
}

.light-mode-2 {
	color: black;
	background: #FFFCF7;
}

.light-mode-container {
    background-color: rgba(255, 255, 255, 0.9);
}

// background: linear-gradient(to bottom right, #CAD0CB, #D6D0CB);