ion-content {
	font-family: 'Montserrat', sans-serif !important;
	overflow: hidden;
}

.menu { // this is a joke you see because the menu holds the menu
	position: absolute;
	height: 80px;
	width: 100vw;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    z-index: 1000;
}